<div class="container text-center">
    <h3 id="currentHeader">Current Card</h3>
    <div class="card">
      <div class="card-body col-sm-6 offset-sm-3">
         <p>{{definition}}</p>
         <br><br>
         <div id="response">
             <input style="height:50px;font-size:14pt;" type="text" id="wordGuess" placeholder="Enter word...">
             <button type="button" class="btn btn-success btn-lg" id="submitGuess">Enter</button>
             <button type="button" class="btn btn-outline-danger btn-lg" id="skipGuess">Skip</button>
         </div>
      </div>
    </div>
</div>