<div class="jumbotron text-center bg-primary">
    <h1 class="display-3">FlashCard Challenge</h1>
    <p id="appDescription">Do you know your vocab better than your classmates?
    <br> Enter now to find out!
    </p>
    <a href="/game" class="btn btn-success btn-lg">Enter</a>
</div>

